{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<body>

  <div id="formulario">

    <form id="form1" enctype="multipart/form-data" method="post">
        <input type="text" size="30" name="password" />
        <input type="submit" name="submit" value="send"/>
        <input type="file" name="fileToUpload" id="fileToUpload">
    </form>

    <style>
    #error {
      color: red;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
<br>
<br>
<table>
  <tr>
    <th>Posição</th>
    <th>Dupla</th>
    <th>Pontuação</th>
    
  </tr>
  {{for i in range(len(nomes)):}}
  <tr>
    <td>{{=i+1}}</td>
    <td>{{=pontos[i]}}</td>
    <td>{{=nomes[i]}}</td>
  </tr>
  {{pass}}
  
</table>

  </div>
  <div id = "error">
    {{=errormsg}}
  </div>
</body>